* {
  box-sizing: border-box;
}

.navbar {
  background-color: #2c3e50;
}

.active {
  background-color: #1abc9c !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.footer {
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 40px;
}
.card {
  background-color: transparent !important ;
  border: none !important;
}

.icons i {
  padding: 10px;

  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.paragraph {
  background-color: #1a252f;
  padding: 10px;
}
.paragraph p {
  padding-top: 10px;
}
.home {
  background-color: #1abc9c;
  padding: 200px 0 30px 0;
}
.home img {
  width: 17%;
}
.line {
  background-color: #fff;
  width: 80px;
  height: 4px;
}
.about {
  padding: 230px 0 50px 0;
  background-color: #1abc9c;
}
.portfolio {
  padding: 230px 0 50px 0;
}
.portfolio .line {
  background-color: #000;
}
.layer {
  background-color: #1abc9ce6;
  cursor: pointer;
  opacity: 0;
  transition: 0.6s opacity;
  -webkit-transition: 0.6s opacity;
  -moz-transition: 0.6s opacity;
  -ms-transition: 0.6s opacity;
  -o-transition: 0.6s opacity;
}
.image:hover .layer{
    opacity :1
}
.lightBoxContainer  img {
    width: 600px;
   
   
}
.lightBoxContainer{
    z-index:99999;
}
.contact{
  padding-top: 130px;
}
.contact .line {
  background-color: #000;
}
form button{
  background-color: #1abc9c !important;
}

